[Unit]
Description=Run backup service
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/env /home/will/bin/backup.sh backup-and-trim
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
