[Unit]
Description=Keep local contacts up to date
After=network.target network-online.target dbus.socket

[Service]
Type=exec
ExecStart=/usr/bin/env %h/bin/sync-contacts
RuntimeMaxSec=30min

[Install]
WantedBy=default.target
