[Unit]
Description=Keep local contacts up to date
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/env %h/bin/sync-contacts
TimeoutStartSec=30min

[Install]
WantedBy=default.target
