[Unit]
Description=Keep local calendars up to date
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/env /usr/bin/vdirsyncer sync
TiemoutStartSec=10min

[Install]
WantedBy=default.target
