[Unit]
Description=Keep local mailboxes up to date
Requires=network-online.target
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/env offlineimap
TimeoutStartSec=30min

[Install]
WantedBy=default.target
