[Unit]
Description=Keep local mailboxes up to date
After=network.target network-online.target dbus.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/env %h/bin/imap-sync
TimeoutStartSec=10min

[Install]
WantedBy=default.target
