[Unit]
Description=Keep local mailboxes up to date
After=network.target network-online.target dbus.socket

[Service]
Type=exec
ExecStart=/usr/bin/env offlineimap -q -f INBOX
RuntimeMaxSec=5min

[Install]
WantedBy=default.target
