[Unit]
Description=Keep local mailboxes up to date
After=network.target network-online.target dbus.socket

[Service]
Type=exec
ExecStart=/usr/bin/env offlineimap
RuntimeMaxSec=30min

[Install]
WantedBy=default.target
