# Config profiles can be downloaded at
# https://downloads.nordcdn.com/configs/archives/servers/ovpn.zip
# Unzip & move into /etc/openvpn
[Unit]
Description=OpenVPN connection to nordvpn
After=network.target network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/env %h/bin/nordvpn
WorkingDirectory=/etc/openvpn

[Install]
WantedBy=multi-user.target

