# based on https://raw.githubusercontent.com/hv15/spideroak-systemd/
[Unit]
Description=SpiderOak backup service
Documentation=https://spideroak.com/faq/questions/67/how_can_i_use_spideroak_from_the_commandline/

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/SpiderOakONE --headless
