/*
!/.gitignore
!/alacritty
!/environment.d
!/dunst
!/fontconfig
!/git_template
!/gnupg
!/gtk-3.0
!/khal
!/khard
!/mbsyncrc
!/msmtprc
!/mutt
!/nvim
!/offlineimap
!/redshift.conf
!/systemd
!/taffybar
!/vdirsyncer
!/zsh
