'exception-reporting':
  'userId': '93a012d5-4d06-b05f-8cf0-846cc83ba675'
'release-notes':
  'viewedVersion': '0.86.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '4e04e161f346d57786375cd999f0ffb4917a5c32'
'editor':
  'showInvisibles': true
  'fontSize': 18
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/will/Projects'
