* {
  font-size: 10px;
  font-family: monospace FontAwesome6Free;
  padding: 0;
  min-height: 0;
}

window#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

.modules-left,
.modules-right {
  background: #1a1a1a;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}

button.text-button {
  color: #fdf6e3;
}

button.text-button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #292b2e;
  border: #292b2e;
}

#pulseaudio {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#battery.warning:not(.charging) {
  color: #000000;
  background-color: #ffff19;
}
@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-aurto,
#custom-backup,
#custom-imap,
#custom-nordvpn,
#backlight,
#battery,
#clock,
#cpu,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#tray {
  padding: 0 10px;
}

#custom-aurto.unit-inactive, #custom-backup.unit-inactive, #custom-imap.unit-inactive {
  color: #999;
}

#custom-aurto.unit-active, #custom-backup.unit-active, #custom-imap.unit-active {
  color: #1a4;
}

#custom-aurto.unit-failed, #custom-backup.unit-failed, #custom-imap.unit-failed {
  color: #a00;
}

#custom-nordvpn.disconnected {
  color: #999;
}

#custom-nordvpn.connected {
  color: #1a4;
}

.idle-inhibitor-activated {
  color: #1a4;
}

.idle-inhibitor-deactivated {
  color: #999;
}
