# on monitor connect/disconnect, run `msu` to configure xrandr & switch
# wallpaper
ACTION=="change", SUBSYSTEM=="drm", RUN+="/home/will/bin/runx /home/will/bin/msu -s 1", RUN+="/home/will/bin/runx /home/will/bin/wallpaper"
