# Rules to ensure devices can wake from sleep/suspend
# https://wiki.archlinux.org/title/Power_management/Wakeup_triggers

# logitech trackball unifying receiver
#https://wiki.archlinux.org/title/Power_management/Wakeup_triggers#/sys/class/wakeup/*
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="c52b", ATTR{power/wakeup}="enabled"

# HHKB
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="0853", ATTRS{idProduct}=="0100", ATTR{power/wakeup}="enabled"

# Vortex Race3 keyboard, which according to USB was built by TG3 electronics?
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usb", ATTRS{idVendor}=="0f39", ATTRS{idProduct}=="0833", ATTR{power/wakeup}="enabled"

# synaptics trackpad
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="06cb", ATTR{power/wakeup}="enabled"
# TODO - other external keyboards I use, the built-in trackball & keyboard

# Just match any usbhid device
ACTION=="add", SUBSYSTEM=="usb", DRIVERS=="usbhid", ATTR{power/wakeup}="enabled"

# the USB hub my keyboard is usually plugged into, I'm not sure if this matters
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="5411", ATTR{power/wakeup}="enabled"
