[Unit]
Description=Enable wakeup from connected USB devices

[Service]
Type=oneshot
ExecStart=sh -c /usr/local/bin/usb-wakeup
TimeoutStartSec=1min

[Install]
WantedBy=multi-user.target
