[Unit]
Description=The NAS at home
After=network-online.target

[Mount]
What=bragi.local:/mnt/pool
Where=/mnt/bragi/pool
Type=nfs
Options=nofail,noatime,nolock,tcp,soft

[Install]
WantedBy=multi-user.target
