[Unit]
Description=The mother NAS at home
After=network-online.target

[Mount]
What=mother.local:/volume2/data2
Where=/mnt/mother/data
Type=nfs
Options=nofail,noatime,nolock,tcp,soft

[Install]
WantedBy=multi-user.target
