[Unit]
Description=Update the pacman mirrorlist
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=sh -c /usr/local/bin/pac-gen-mirrorlist
TimeoutStartSec=1min

[Install]
WantedBy=default.target
